
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

h1, 
h2,
h3,
h4,
h5,
h6,
ul,
ol,
span,
p{
    padding: 0;
    margin: 0;
}
html,
button,
input,
select,
textarea {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}
ul{
    list-style-type: none;
}
a {
    color: #ca3c08;
    text-decoration: none;
  }
a:hover{
    text-decoration: none;
}
img{
    width: 100%;
}
 .section-title h2.title{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 8px;
}
.section-title p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: rgba(29,29,39,0.75);
    padding: 0 21px;
}









#header{
    background: url(../images/bg/bg-image-26.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;
    width: 100%;
    padding: 10px;
    position: relative;
    z-index: 1;
}
#header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00010c;
    background-color: rgba(0,0,0,0.8);
    z-index: -1;
    opacity:.7 ;

}
#header .header-left .logo{
   width: 70%;
   margin:10px 0 10px -20px;
   
}
#header .header-left .logo a{
    font-size: 30px;
    padding: 20px 0;
}
#header .header-left .logo a img{
    display: block;
}
#header .header-right{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#header .header-right  ul.mainmenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
#header ul.mainmenu li{
    margin: 0px 9px 0 15px;
}
#header ul.mainmenu li:last-child{
    margin-right: 0;
}
#header ul.mainmenu li:first-child{
    margin-left: 0;
}
#header ul.mainmenu > li > a{
    text-decoration: none;
    color: #C6C9D8;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0;
    position: relative;
}
#header ul.mainmenu > li > a:hover{
    color: #f9004d;
}

#header ul.mainmenu > li > a.active {
    background: transparent;
    color: #f9004d;
}
#header ul.mainmenu > li > a.active::after{
    position: absolute;
    content: "";
    left: 0;
    width:100%;
    height: 2px;
    background: #f9004d;
    transition: 0.3s;
    bottom: 0;
} 
#header ul.mainmenu > li > a::after{
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    height: 2px;
    background: #f9004d;
    transition: 0.3s;
    bottom: 0;
}
#header .header-right  ul.mainmenu  li a:hover::after{
    width: 100%;
}
#header .header-right .header-btn{
    margin-left: 50px;
}
#header .header-right .header-btn a.rn-btn{
    padding: 0 25px;
    height: 46px;
    display: inline-block;
    line-height: 42px;
    border: 2px solid #b1b4c1;
    border-radius: 6px;
    color: #c6c9d8;
    font-size: 14px;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    transition: all linear .4s;
}
#header .header-right .header-btn a.rn-btn:hover{
    color: #ffffff;
    background: #f9004d;
    border: 2px solid #f9004d;
    border-color:transparent ;
    border-radius: 6px;
    transform: translateY(-3px);
}
#header .inner {
    padding-top:80px;
}
#header .inner h1.title{
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 130px;
    display: inline-block;
    color:  #f9004d;
}
#header .inner p.description{
    color: #c6c9d8;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    padding: 0 16px;

}
#header .inner .slide-btn a.rn-button-style--2{
    color: #c6c9d8;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #b1b4c1;
    padding: 15px 40px;
    margin: 30px;
    border-radius: 6px;
    text-transform: uppercase;
    display: inline-block;
    transition: all linear.4s;
}
#header .inner .slide-btn a.rn-button-style--2:hover{
    border: 2px solid #f9004d;
    background: #f9004d;
    color: #ffffff;
}

/* <!----==Service Start==---->*/
.rn-service{
    padding: 80px 0;
}
.rn-service .single-service-info{
  margin-left: -40px;
  margin-right: -40px;
  margin-top: 40px;
}
.rn-service .mt--30{
    margin-top: 35px;
}
.rn-service .single-service a{
    display: block;
    background: #f6f6f6;
    position: relative;
    padding: 60px 40px;
    box-shadow: 0 10px 25px 10px rgb(0,0, 0, 10%);
    border-radius: 10px;
    z-index: 2;
    transition: all linear .4s;
}
.rn-service .single-service:hover a{
    transform: translateY(-8px);
}
.rn-service .single-service a::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image:linear-gradient(to right, #f61b10, #ef0963);
    opacity: 1;
    visibility: hidden;
    transition: all linear .4s;
    z-index: 1;
}
.rn-service .single-service:hover a::before{
    opacity: 0.85;
    visibility:visible;
    transform: translateY(-8px);
    z-index:-1;
}
.rn-service .single-service a .service .icon i{
    width: 54px;
    height: 54px;
    font-size: 45px;
    margin-bottom: 23px;
    display: inline-flex;
    color: #f9004d;
    text-align: left; 
}
.rn-service .single-service:hover a .service .icon i{
    color: #ffffff;  
}

.rn-service .single-service a .service .content h3.title{
    color: #1f1f25;
    font-size: 24px Poppins,sans-serif;
    font-weight: 500;
    margin-bottom: 19px;
}

.rn-service .single-service a .service .content p{
    font-size: 18px;
    font-weight: 500;
    color: rgba(29,29,36,0.75);
}
.rn-service .single-service:hover a .service .content p,
.rn-service .single-service:hover a .service .content h3.title{
    color: #ffffff;
}
/* <!----==Service Start==---->*/

/*<!----==About Start==---->*/
.about-area{
    padding: 100px 0;
    background: #f8f9fc;
}
.row--35 {
    margin-left: -35px;
    margin-right: -35px;
}
.about-area .thumbnail{
    position: relative;
    margin-left: -30px;
    z-index: 2;
}
.about-area .thumbnail img{
border-radius: 8px;
box-shadow:10px 25px 65px rgb(0,0, 0, 10%),
           10px -20px 60px rgb(0,0, 0, 10%);
}
.about-area .inner{
    padding:0 25px ;
}
.about-area .section-title{
    margin-top: -20px;
}
.about-area .section-title h2.title{
    margin-bottom: 8px;
    font-size: 60px;
    font-weight: 700;
    color: #1f1f25;
}
.about-area .section-title p.description{
    font-size: 20px;
    color: rgba(29,29,36,0.75);
    line-height: 30px;

}
.mt--30 {
    margin-top: 30px !important;
}
.about-area .about-list{
    margin-top: 15px;
}
.about-area .about-list h3.title{
    font-size: 30px Poppins,sans-serif;
    font-weight: 700;
    margin: 0 0 20px;
}
.about-area .about-list p{
    font-size: 20px;
    color: rgba(29,29,36,0.75);
    line-height: 25px;
}
/*<!----==About End==---->*/

/*Portfolio Start*/
.rn-portfolio{
    padding: 100px 0;
}
.rn-portfolio .single-portfolio-info{
    margin-left: -40px;
    margin-right: -40px;
    margin-top: 40px
}

.rn-portfolio .single-portfolio-info .slider-portfolio{
    padding-left: 15px;
    padding-right: 15px;
}

.mt--30 {
    margin-top: 30px !important;
}
.mb--20 {
    margin-bottom: 20px !important;
}
.rn-portfolio .portfolio-slider-item {
    position: relative; 
    min-height: 500px;
    width: 100%;
    padding-top: 35px;
    background-size: cover;
    background-position: center !important;
    background-repeat: no-repeat !important;
    border-radius: 6px;
    cursor: pointer;
    z-index: 9;
    transform: scale(1);
    transition: all linear .4s;
    z-index: 2;
}
.rn-portfolio .portfolio-slider-item:hover {
    transform: scale(1.1);
    z-index: 1;
}
.rn-portfolio .portfolio-slider-item::before{
    content: '';
    position: absolute;
    background-image: linear-gradient(#f6004c 10%,#000000 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
}
.rn-portfolio .portfolio-slider-item:hover::before{
    overflow: visible;
    border-radius: 6px;
    opacity: 0.85;
    z-index: 2;
}


.rn-portfolio .portfolio-slider-item .content{
    position: absolute;
    bottom: 40px;
    left: 40px;
    max-width: 100% !important;
    padding: 0;
    z-index: 10;
}
.rn-portfolio .portfolio-slider-item:hover .content{
    transform: rotate3d(45deg);
    opacity: 1;
    visibility: visible;
}

.rn-portfolio .content .inner p{
    color: #c6c9d8;
    font:14px;
}
.rn-portfolio .content .inner h4{
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
}
.rn-portfolio .content .inner h4 a{
    color: #ffffff;
    transition: .4s;
}
.rn-portfolio .content .inner:hover a{
    color: #f9004d;
}
.rn-portfolio .content .inner .portfolio-button{
    margin-top: 35px;
    transition: 0.7s;
}
.rn-portfolio .content .inner .portfolio-button .rn-btn{
    color: #ffffff;
    padding: 0 23px;
    height: 40px;
    display: inline-block;
    line-height: 34px;
    border: 2px solid rgba(255,255,255, .3);
    border-radius: 4px;
    position: relative;
    letter-spacing: .2px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 2;
    transition: all linear .4s;
}
.rn-portfolio .content .portfolio-button .rn-btn:hover{
    border:2px solid #f9004d;
    transform: translateY(-5px);
    background: #f9004d;

}
.rn-portfolio  .slick-dots{
    position: absolute;
    text-align: center;
    bottom: -30px;
    width: 100%;
}
.rn-portfolio .slick-dots li{
    display: inline-block;
    margin: 0 5px;
}
.rn-portfolio .slick-dots li button{
    font-size: 0;
    border:none;
    background-color: rgb(190, 189, 189);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1)
}
.rn-portfolio .slick-dots li.slick-active button{
    background-color:#fff;
    border:2px solid #f9004d;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: scale(1.1);
}

/*Portfolio end*/

/* <!-----==CounterUp Start==------> */
.rn-counterupup{
    padding-top: 100px;
    background: #f8f9fc;
}


.image{
    margin: 30px 0;
    width: 100%;
    height: 470px; 
    background: url(../images/bg/bg-image-17.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.image::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: -1;
    opacity:.7 ;
}
.rn-counterupup .rn-counterup{
    text-align:center;
    margin-top: 100px;
    transition: all linear .4s;
}
.rn-counterupup .rn-counterup:hover{
    transform: translateY(20px);
}
.rn-counterupup .rn-counterup h5.counter{
    display: inline-block;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    margin-top: 35px;
    margin-bottom: 15px;
    position: relative;
    color: #f9004d;
    margin-left: -13px;
}
.rn-counterupup .rn-counterup h5.counter::after{
    position: absolute;
    content: '+';
    font-size: 40px;
    right: -26px;
    top: -17px;
}
.rn-counterupup .rn-counterup p.description{
    font-size: 18px;
    line-height: 30px;
    padding: 0 5px;
    color: rgba(29,29,36, 0.75);
    color: #fff;
  
}

/* <!-----==CounterUp End==------> */

/*<!---==Filterzr Start==--->*/
.rn-gallery{
    padding: 100px 0;
}
.rn-gallery .section-title{
    margin-top: -40px;
}
.rn-gallery .gallery-filter-menu {
    margin: 60px 0 50px 0;
}
.rn-gallery .gallery-filter-menu ul li{
    position: relative;
    display: inline-block;
    margin: 0 7px;
    color: #101010;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all linear .3s;
}
.rn-gallery .gallery-filter-menu ul li:hover{
    color: #f9004d;
}
.rn-gallery .gallery-filter-menu ul li.active{
    background: transparent;
    color: #f9004d;
}
.rn-gallery .gallery-filter-menu ul li.active::after{
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 2px;
    background: #f9004d;
    transition: 0.3s;
    bottom: -5px;
}

.rn-gallery .gallery-filter-menu ul li::after{
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    height: 2px;
    background: #f9004d;
    transition: 0.3s;
    bottom: -5px;
    transition: all linear .3s;
}
.rn-gallery .gallery-filter-menu ul li:hover::after{
   width: 100%;
}
.rn-gallery .gallery-filter-container .gallery-filter-item{
    padding: 15px;
}
.rn-gallery .gallery-filter-container .gallery-filter-item .thumbnail img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 25px 65px rgb(0, 0, 0 , 10%);
    transition: all linear .2s;
}
.rn-gallery .gallery-filter-container .gallery-filter-item .thumbnail:hover img{
    transform: translateY(-7px);
}
.rn-gallery .gallery-filter-container .gallery-filter-item .content .inner{
    background-image: linear-gradient(#f6004c 10%,#d45f5f 100%);
    color: #1d1d1d;
    border-radius: 5px;
    padding: 20px;
    z-index: 1;
    transition: all linear .2s;
}
.rn-gallery .gallery-filter-container .gallery-filter-item .content .inner:hover{
    transform: translateY(7px);
}
.rn-gallery .gallery-filter-container .gallery-filter-item .content .inner p{
    font-size: 16px;
    color: #1d1d1d;
    margin-bottom: 5px;
}
.rn-gallery .gallery-filter-container .gallery-filter-item .content .inner:hover p{
    color: #ffffff;
}
.rn-gallery .gallery-filter-container .gallery-filter-item .content .inner h4{
    color: #1f1f25;
    font-weight: 600;
    font-size: 24px;
    transition: all linear .2s;
}
.rn-gallery .gallery-filter-container .gallery-filter-item .content .inner:hover h4{
    color: #ffffff;
}
/*<!---==Filterzr End==--->*/

/*  <!----==Team Start==----->*/
.rn-team{
    padding: 100px 0;
}
.rn-team .section-title{
    margin-top: -20px;
    margin-bottom: 30px;
}
.rn-team .team{
    margin-top: 30px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.rn-team .team .thumbnail{
    display: block;
    position: relative;
    z-index: 1;
}
.rn-team .team .thumbnail img{
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    transition: all linear .4s;
}
.rn-team .team:hover .thumbnail img{
    z-index: 1;
}
.rn-team .team .thumbnail::after{
    position: absolute;
    content: '';
    background: linear-gradient(to bottom, #fc004d 10%, #000000 100%);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    opacity: 1;
    z-index: 1;
    transition: all linear 0.4s;
}
.rn-team .team:hover .thumbnail::after{
    opacity: 0.85;
}
.rn-team .team .content{
    position:absolute;
    width: 100%;
    bottom: 20px ;
    left: 0;
    padding: 35px 40px;
    z-index: 2;
}
.rn-team .team .content h4.title{
    color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ;
    z-index: 1;
}
.rn-team .team:hover .content h4.title{
    visibility:visible;
    opacity: 1;
    z-index: 2;
    transform: translate(10px);
}
.rn-team .team .content p.description{
    font-size: 14px;
    line-height: 34px;
    color: #c6c9d6;
    opacity: 0;
    visibility: hidden;
    transition: all linear 1s ;
}
.rn-team .team:hover .content p.description{
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
}
.rn-team .team .social-icon ul{
    position: absolute;
    top: 30px;
    left: 10px;
    padding: 0;
    z-index: 2;
    list-style: none;
    display: flex;
    margin: 0 10px;
}
.rn-team .team .social-icon ul li{
    margin: 0 10px;
    transform: scale(.8);
    opacity: 0;
    visibility: hidden;
    transition: all linear 1s;
}
.rn-team .team:hover .social-icon ul li{
    transform: scale(1);
    transform: translateX(8px);
    opacity: 1;
    visibility: visible;
}
.rn-team .team .social-icon ul li a{
    color: #ffffff;
    font-size: 18px;
}
/*  <!----==Team End==----->*/

/*<!-----==testimonial Start==------>*/
.rn-testimonial{
    padding: 120px 0;
    background: #f8f9fc;
}
.rn-testimonial .testimonial-content{
    text-align: center;
}
.rn-testimonial .testimonial-content .content-info{
    display: block;
}
.rn-testimonial .testimonial-content .inner{
    padding-bottom: 45px;
}
.rn-testimonial .testimonial-content .inner p{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    line-height: 58px;
    text-align: center;
    color: #18181d;
    padding: 0 9px;
    margin: -16px 0 0px 0;
    z-index: 2;
}
.rn-testimonial .testimonial-content .inner p::before{
    content: '';
    position: absolute;
    width: 197px;
    height: 100px;
    top: -50px;
    background-image: url(../images/testimonial/image-1.png);
    background-repeat: no-repeat;
    opacity: 1;
    z-index: -1;
}
.rn-testimonial .testimonial-content .inner p::after{
    content: '';
    position: absolute;
    width: 197px;
    height: 200px;
    right: 45px;
    bottom: -120px;
    background-image: url(../images/testimonial/image-2.png);
    opacity: 1;
    background-repeat: no-repeat;
    z-index: -1;
}
.rn-testimonial .testimonial-content .author-info{
    margin-bottom: 50px;
}
.rn-testimonial .testimonial-content .author-info h6{
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    color: #8c8c8c;
}
.rn-testimonial .testimonial-content .author-info h6 span{
    color: #18181d;
    font-size: 18px;
    text-transform: uppercase;
}
.rn-testimonial ul.testimonial-thumb{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    max-width: 510px;
    margin: 0 auto;
    margin-bottom: -40px;
}
.rn-testimonial ul.testimonial-thumb >li{
    padding: 0 15px 0 15px;
    margin-bottom: 30px;
    outline: none;
    cursor: pointer;
}
.rn-testimonial ul.testimonial-thumb >li >a{
    position: relative;
    display: block;
}
.rn-testimonial ul.testimonial-thumb >li >a::after{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #f9004d;
    right: -7.5px;
    top: -7.5px;
    border-radius: 100%;
    opacity: 0;
    transform: scale(0);
    transition: all linear .4s;
}
.rn-testimonial ul.testimonial-thumb >li >a:hover::after{
    opacity: 1;
    transform: scale(1);
}
.rn-testimonial ul.testimonial-thumb >li >a.active::after{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #f9004d;
    right: -6.5px;
    top: -6.5px;
    border-radius: 100%;
    transform: scale(1);
    opacity: 1;
}
.rn-testimonial ul.testimonial-thumb >li >a .images{
    position: relative;
    display: inline-block;
    width: 100%;
}
.rn-testimonial ul.testimonial-thumb >li >a .images img{
    border-radius: 6px;
    width: 100%;
    transition: all linear .4s;
}
.rn-testimonial ul.testimonial-thumb >li >a:hover .images img{
    transform: scale(1.1);
    box-shadow: 0 10px 15px 0 rgb(0, 0, 0 , .10);
}

/*<!-----==testimonial End==------>*/

/*<!----==Blog Start==---->*/
.rn-blog{
    padding: 100px 0;
}
.rn-blog .section-title {
    margin-top: -40px;
    margin-bottom: 50px;
}
.rn-blog .section-title .blog-slider{
    margin-left: -40px;
    margin-right: -40px;
}
.rn-blog .blog-slider .blog-item{
    position: relative;
    border-radius: 6px;
    margin-top: 40px;
    min-height: 500px;
    width: 100%;
    cursor: pointer;
    transform: scale(1);
    transition: all linear .4s;
    z-index: 2;
}
.rn-blog .blog-slider .blog-item:hover{
    transform: scale(1.1);
    z-index: 1;
}
.rn-blog  .blog-slider .blog-item::after{
    content: '';
    position: absolute;
    background-image: linear-gradient(#f6004c 10%,#000000 110%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}
.rn-blog  .blog-slider .blog-item:hover::after{
    border-radius:6px;
    opacity: 0.85;
    z-index: 2;
}
.rn-blog  .blog-slider .blog-item .content{
    position: absolute;
    bottom: -30px;
    width: 100%;
    padding: 50px 35px;
    z-index: 3;
}

.rn-blog  .blog-slider .blog-item .content .inner p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #c6c9d8;
}
.rn-blog  .blog-slider .blog-item-item .content .inner h4.title{
    margin-bottom: 0;
}
.rn-blog  .blog-slider .blog-item .content .inner h4.title a{
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.rn-blog  .blog-slider .blog-item .content .inner .blog-button{
    margin-top: 35px;
    opacity: 1;
    transition: .7s;
}

.rn-blog  .blog-slider .blog-item .content .inner .blog-button a{
    padding: 0 23px;
    height: 40px;
    display: inline-block;
    line-height: 34px;
    border: 2px solid #f51c5d;
    border-radius: 4px;
    font-size: 14px;
    position: relative;
    color: #f3e6ea;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    transition: all linear .4s;
}
.rn-blog  .blog-slider .blog-item  .content .inner .blog-button a:hover{
    border: 2px solid #f9004d;
    transform: translateY(-5px);
    transform-origin:bottom ;
    color: #ffffff;
    background: #f9004d;
}
.rn-blog .slick-dots{
    position: absolute;
    text-align: center;
    bottom: -30px;
    width: 100%;
}
.rn-blog .slick-dots li{
    display: inline-block;
    margin: 0 5px;
}
.rn-blog .slick-dots li button{
    font-size: 0;
    border:none;
    background-color:rgb(190, 189, 189);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1);
}
.rn-blog .slick-dots li.slick-active button{
    background-color:#fff;
    border:2px solid #f9004d;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: scale(1.1);
}

/*<!----==Blog End==---->*/

/*<!----==Contact Start==---->*/
.rn-contact{
    padding: 120px 0;
}
.rn-contact .row-35{
    margin-left: -35px;
    margin-right: -35px;
}
.rn-contact .row-35 .section-title{
    margin-top: -20px;
    margin-bottom: 50px;
}
.rn-contact .row-35 form{
    margin: 30px 0;
}
.rn-contact  .row-35 form label{
    display: block;
    margin-bottom: 0;
}
.rn-contact  .row-35 form label input,
.rn-contact  .row-35 form label textarea{
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    color: #1f1f25;
    font-size: 15px;
    margin-bottom: 20px;
    transition: all linear .4s;

}
.rn-contact  .row-35 form label textarea{
    height: 120px;
}
.rn-contact  .row-35 form .rn-button-style--2{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 13px 40px;
    border: 2px solid #f9004d;
    border-radius: 6px;
    background-color: #f9004d;
    color: #ffffff;
    transition: all linear .4s;
}
.rn-contact  .row-35 form .rn-button-style--2:hover{
    color: #f9004d;
    transform: translateY(-5px);
    background-color: #ffffff;
}
.rn-contact .thumbnail img{
    border-radius: 6px;
    box-shadow: 10px 25px 65px rgb(0, 0, 0, .10),       
               0px -12px 65px rgb(0, 0, 0, .10);
}

/*<!----==Contact End==---->*/

/*<!-----==Footer Style Start==----->*/

.footer-style-2 .inner .logo  a img{
    width: 50%;
    margin-left: -40px;
}

.ptb--30 {
  padding: 30px 0 !important;
}
[data-overlay], [data-black-overlay], [data-white-overlay] {
  position: relative;
  z-index: 1;
}
.bg_image--1 {
  background-image: url(../images/bg/bg-image-1.jpg);
}

.bg_image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
[data-overlay="6"]:before, [data-black-overlay="6"]:before,
 [data-white-overlay="6"]:before {
  opacity: 0.6;
}
[data-black-overlay]:before {
  background-color: #00010c;
}
[data-overlay]:before, [data-black-overlay]:before,
 [data-white-overlay]:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.plr--50 {
  padding: 0 50px !important;
}
.wrapper {
  position: relative;
}
ul.social-share.rn-lg-size {
  margin-top: 0 !important;
}
ul.social-share {
  padding: 0;
  margin: 0;
  margin: -6px;
}
ul.social-share li {
  margin: 6px;
}
ul.social-share.rn-lg-size li a {
  width: 50px;
  height: 50px;
  line-height: 47px;
  display: block;
  font-size: 16px;
}
ul.social-share li:hover a {
  background: #f9004d;
  border-color: #f9004d;
  color: #ffffff;
  -webkit-box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}
ul.social-share li a {
  width: 40px;
  display: inline-block;
  height: 40px;
  border: 2px solid rgba(198, 201, 216, 0.75);
  line-height: 35px;
  color: rgba(198, 201, 216, 0.75);
  border-radius: 100%;
  text-align: center;
  font-size: 14px;
}
.footer-style-2 p {
  color: #c6c9d8;
  font-size: 15px;
  opacity: 0.75;
}
/*<!-----==Footer Style ENd==----->*/

/*flaticon Icon Start*/
#backToTop{
    align-items: center;
    background-color:#f6004c;
    box-shadow: 0 0 10px rgb(0, 0, 0,  5%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    border: none;
    z-index: 99999;
    color:#ffffff;
    position: fixed;
    right: 25px;
    bottom: 70px;
    font-size: 17px;
    cursor: pointer;
    display: none;
    
  }
  /*flaticon Icon End*/
